@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-VariableFont.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


:root {
    --berkley-blue: #0D375E;
    --caribbean-green: #0D5E5D;
    --mustard-yellow: #FC0;
    --rich-black: #0B141D;
    --gray-paragrah: #475467;

}

body {
    font-family: 'Inter';
    font-weight: normal;
    overflow-x: hidden;
    font-family: Inter;
    overflow-x: hidden;
}

section {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.block_content {
    max-width: 1440px;
    width: 100%;
}


.btn-primary,
#gform_submit_button_1 {
    cursor: pointer !important;
    display: flex !important;
    padding: 10px 18px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8px !important;
    border-radius: 8px !important;
    background: var(--mustard-yellow) !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
    color: var(--rich-black) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 24px !important;
}

.btn {
    border-radius: 8px !important;
    background: #FAFBFC !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
    display: flex !important;
    padding: 10px 18px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8px !important;
    align-self: stretch !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 24px !important;
}

.btn-green {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--caribbean-green);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.btn:hover {
    background: var(--mustard-yellow) !important;
    color: var(--rich-black) !important;
    transition: transform 0.3s ease !important;
}

.btn:hover,
.btn-primary:hover,
.btn-2:hover,
.btn-green:hover {
    transform: translateY(-2px);
    transition: transform 0.3s ease;
}

.menu_header li a {
    color: rgba(71, 84, 103, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.menu_header>li {
    position: relative;
    @apply py-[15px];
    @apply px-[20px];
}

.menu_header .menu-item-has-children::after {
    position: absolute;
    top: 18px;
    right: -4px;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M5 7.5L10 12.5L15 7.5" stroke="%23475467" stroke-opacity="0.6" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-mobile .arrow::after {
    content: '';
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M5 7.5L10 12.5L15 7.5" stroke="%23475467" stroke-opacity="0.6" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.menu-mobile .menu-item-has-children .arrow {
    width: 60%;
    top: 4px;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    display: flex;
    justify-content: end;
}


.menu_header .menu-item-has-children:hover::after {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.menu_header .menu-item-has-children>ul {
    min-width: 130px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.menu_header .menu-item-has-children:hover>ul {
    z-index: 9999;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}




.menu-mobile li a {
    color: rgba(71, 84, 103, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}


.menu-mobile>li {
    position: relative;
    margin-bottom: 32px;
}

.menu-mobile .menu-item-has-children ul {
    opacity: 0;
    padding: 0px;
    max-height: 0px;
    visibility: hidden;
    transition: all .3s ease;
}

.menu-mobile .menu-item-has-children.active ul {
    padding: 5px 15px;
    opacity: 1;
    max-height: 500px;
    visibility: visible;
    transition: all .3s ease;
}


#product-slider,
#recent-blog_posts,
#cart,
#faq {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="294" viewBox="0 0 1440 294" fill="none"><mask id="mask0_2_3" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1440" height="294"><rect width="1440" height="294" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2_3)"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 210.623L34.8 198.922C68.4 187.221 136.8 163.818 205.2 159.918C274.8 156.017 343.2 171.619 411.6 183.32C480 195.022 548.4 202.823 616.8 202.823C685.2 202.823 754.8 195.022 823.2 171.619C891.6 148.216 960 109.212 1028.4 81.9091C1096.8 54.6061 1165.2 39.0043 1234.8 54.6061C1303.2 70.2078 1371.6 117.013 1405.2 140.416L1440 163.818V0H1405.2C1371.6 0 1303.2 0 1234.8 0C1165.2 0 1096.8 0 1028.4 0C960 0 891.6 0 823.2 0C754.8 0 685.2 0 616.8 0C548.4 0 480 0 411.6 0C343.2 0 274.8 0 205.2 0C136.8 0 68.4 0 34.8 0H0V210.623Z" fill="%230E375E" fill-opacity="0.02"/><path d="M-70.8875 130.969L-44.7543 134.537C-19.4663 138.27 31.9549 145.571 80.674 138.979C130.238 132.223 176.255 111.738 222.813 94.032C269.37 76.3258 316.468 61.3982 364.647 52.0277C412.826 42.6573 462.93 38.6796 514.352 45.9806C565.773 53.2817 619.356 71.6971 671.317 81.7767C723.279 91.8563 773.619 93.6002 820.481 72.951C866.499 52.4662 908.192 9.75278 928.616 -11.5217L949.886 -32.9606" stroke="%230E375E" stroke-opacity="0.02" stroke-width="7"/><path d="M-128.47 167.882L-99.8535 171.789C-72.163 175.876 -15.8565 183.871 37.4913 176.653C91.7646 169.255 142.154 146.824 193.134 127.435C244.115 108.047 295.688 91.7012 348.444 81.4405C401.2 71.1798 456.065 66.8242 512.371 74.8189C568.678 82.8136 627.351 102.979 684.25 114.016C741.148 125.053 796.271 126.963 847.586 104.352C897.975 81.9206 943.63 35.1491 965.994 11.8534L989.284 -11.6224" stroke="%230E375E" stroke-opacity="0.05" stroke-width="7"/></g></svg>');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

#thanks-page {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="1222" height="362" viewBox="0 0 1222 362" fill="none"><path d="M62.4848 197.969L90.6025 201.537C117.811 205.27 173.137 212.571 225.555 205.979C278.883 199.223 328.395 178.738 378.487 161.032C428.58 143.326 479.254 128.398 531.092 119.028C582.929 109.657 636.838 105.68 692.164 112.981C747.49 120.282 805.142 138.697 861.049 148.777C916.956 158.856 971.119 160.6 1021.54 139.951C1071.05 119.466 1115.91 76.7527 1137.89 55.4782L1160.77 34.0393" stroke="%230E375E" stroke-opacity="0.02" stroke-width="7"/><path d="M0.530275 234.882L31.3193 238.789C61.1125 242.876 121.695 250.871 179.093 243.653C237.488 236.255 291.703 213.824 346.555 194.435C401.407 175.047 456.896 158.701 513.658 148.44C570.42 138.18 629.451 133.824 690.033 141.819C750.615 149.814 813.744 169.978 874.963 181.016C936.182 192.053 995.491 193.963 1050.7 171.352C1104.92 148.921 1154.04 102.149 1178.1 78.8533L1203.16 55.3776" stroke="%230E375E" stroke-opacity="0.05" stroke-width="7"/></svg>');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;

}

/* the slides */
.slick-slide {
    margin: 0 8px !important;
}

/* the parent */
.slick-list {
    margin: 0 -8px !important;
}

#multiple-items .slick-next {
    right: -8px !important;
    top: 205px !important;
}

#multiple-items .slick-next::before,
.slick-prev::before {
    content: "" !important;
}

#multiple-items .slick-prev {
    left: -25px !important;
    top: 205px !important;
}



#multiples-items .slick-next {
    right: 16px !important;
    top: auto !important;
    bottom: -100px !important;
}

#multiples-items .slick-next::before,
.slick-prev::before {
    content: "" !important;
}

#multiples-items .slick-prev {
    left: 0px !important;
    top: auto !important;
    bottom: -100px !important;
}


/* Cart styles */

#cart-container .woocommerce-mini-cart {
    padding: 0px !important;
}

#cart-container .woocommerce-mini-cart-item .remove-button {
    width: 30%;
    display: flex;
    justify-content: end;
}

#cart-container .woocommerce-mini-cart-item>a img {
    width: 200px;
}

#cart-container #multiple-items {
    display: flex;
    gap: 40px;
}

#cart-container .woocommerce-mini-cart__buttons {
    display: flex;
    gap: 30px;
    position: relative;
}

#cart-container .woocommerce-mini-cart__buttons figure {
    position: absolute;
    bottom: -25px;
    left: 90px;
}

#cart-container .woocommerce-mini-cart__buttons .back-shoping {
    margin: 0;
    border-radius: 8px;
    background: #FAFBFC;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#cart-container .woocommerce-mini-cart__buttons .back-shoping:hover {
    transform: translateY(-2px);
}

/*  */

.stars::before {
    content: "";
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="88" height="14" viewBox="0 0 88 14" fill="none"><path d="M6.78711 0L9.14881 3.5365L13.242 4.68978L10.6084 8.02873L10.7765 12.278L6.78711 10.8051L2.79775 12.278L2.96579 8.02873L0.332185 4.68978L4.42541 3.5365L6.78711 0Z" fill="%23FFBF0F"/><path d="M25.3613 0L27.723 3.5365L31.8163 4.68978L29.1826 8.02873L29.3507 12.278L25.3613 10.8051L21.372 12.278L21.54 8.02873L18.9064 4.68978L22.9996 3.5365L25.3613 0Z" fill="%23FFBF0F"/><path d="M43.9355 0L46.2972 3.5365L50.3905 4.68978L47.7569 8.02873L47.9249 12.278L43.9355 10.8051L39.9462 12.278L40.1142 8.02873L37.4806 4.68978L41.5738 3.5365L43.9355 0Z" fill="%23FFBF0F"/><path d="M62.5098 0L64.8715 3.5365L68.9647 4.68978L66.3311 8.02873L66.4991 12.278L62.5098 10.8051L58.5204 12.278L58.6885 8.02873L56.0548 4.68978L60.1481 3.5365L62.5098 0Z" fill="%23FFBF0F"/><path d="M81.084 0L83.4457 3.5365L87.5389 4.68978L84.9053 8.02873L85.0733 12.278L81.084 10.8051L77.0946 12.278L77.2627 8.02873L74.6291 4.68978L78.7223 3.5365L81.084 0Z" fill="%23FFBF0F"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    display: block;
    height: 14px;
}

#white-stars::before {
    content: "";
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="88" height="14" viewBox="0 0 88 14" fill="none"><path d="M6.78711 0L9.14881 3.5365L13.242 4.68978L10.6084 8.02873L10.7765 12.278L6.78711 10.8051L2.79775 12.278L2.96579 8.02873L0.332185 4.68978L4.42541 3.5365L6.78711 0Z" fill="%23FFF"/><path d="M25.3613 0L27.723 3.5365L31.8163 4.68978L29.1826 8.02873L29.3507 12.278L25.3613 10.8051L21.372 12.278L21.54 8.02873L18.9064 4.68978L22.9996 3.5365L25.3613 0Z" fill="%23FFF"/><path d="M43.9355 0L46.2972 3.5365L50.3905 4.68978L47.7569 8.02873L47.9249 12.278L43.9355 10.8051L39.9462 12.278L40.1142 8.02873L37.4806 4.68978L41.5738 3.5365L43.9355 0Z" fill="%23FFF"/><path d="M62.5098 0L64.8715 3.5365L68.9647 4.68978L66.3311 8.02873L66.4991 12.278L62.5098 10.8051L58.5204 12.278L58.6885 8.02873L56.0548 4.68978L60.1481 3.5365L62.5098 0Z" fill="%23FFF"/><path d="M81.084 0L83.4457 3.5365L87.5389 4.68978L84.9053 8.02873L85.0733 12.278L81.084 10.8051L77.0946 12.278L77.2627 8.02873L74.6291 4.68978L78.7223 3.5365L81.084 0Z" fill="%23FFF"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    display: block;
    height: 14px;
}


#slide-cart.active {
    transform: translate(0);
    transition: transform 0.5s ease;
}

#slide-cart {
    transition: transform 0.5s ease;
}

#text-image {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="295" viewBox="0 0 1440 295" fill="none"><mask id="mask0_2_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1440" height="295"><rect width="1440" height="295" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2_6)"><path fill-rule="evenodd" clip-rule="evenodd" d="M1440.49 83.9219L1405.69 95.6232C1372.09 107.325 1303.69 130.727 1235.29 134.628C1165.69 138.528 1097.29 122.926 1028.89 111.225C960.492 99.5236 892.092 91.7227 823.692 91.7227C755.292 91.7227 685.692 99.5236 617.292 122.926C548.892 146.329 480.492 185.333 412.092 212.636C343.692 239.939 275.292 255.541 205.692 239.939C137.292 224.337 68.892 177.532 35.292 154.13L0.49208 130.727L0.492065 294.545L35.292 294.545C68.892 294.545 137.292 294.545 205.692 294.545C275.292 294.545 343.692 294.545 412.092 294.545C480.492 294.545 548.892 294.545 617.292 294.545C685.692 294.545 755.292 294.545 823.692 294.545C892.092 294.545 960.492 294.545 1028.89 294.545C1097.29 294.545 1165.69 294.545 1235.29 294.545C1303.69 294.545 1372.09 294.545 1405.69 294.545L1440.49 294.545L1440.49 83.9219Z" fill="%230E375E" fill-opacity="0.02"/><path d="M1511.38 163.576L1485.25 160.008C1459.96 156.275 1408.54 148.974 1359.82 155.566C1310.25 162.322 1264.24 182.807 1217.68 200.513C1171.12 218.22 1124.02 233.147 1075.85 242.518C1027.67 251.888 977.562 255.866 926.141 248.565C874.719 241.264 821.136 222.848 769.175 212.769C717.213 202.689 666.873 200.945 620.011 221.594C573.994 242.079 532.3 284.793 511.876 306.067L490.606 327.506" stroke="%230E375E" stroke-opacity="0.02" stroke-width="7"/><path d="M1568.96 126.664L1540.35 122.756C1512.66 118.669 1456.35 110.674 1403 117.892C1348.73 125.291 1298.34 147.721 1247.36 167.11C1196.38 186.498 1144.8 202.844 1092.05 213.105C1039.29 223.366 984.427 227.721 928.121 219.726C871.814 211.732 813.141 191.567 756.242 180.53C699.344 169.492 644.221 167.583 592.906 190.194C542.517 212.625 496.863 259.396 474.498 282.692L451.208 306.168" stroke="%230E375E" stroke-opacity="0.05" stroke-width="7"/></g></svg>');
    background-repeat: no-repeat;
    background-position: bottom right;
}


#text-image ul li::before {
    content: '';
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><rect width="28" height="28" rx="14" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.9458 8.62169L11.5925 16.6834L9.37583 14.315C8.9675 13.93 8.32583 13.9067 7.85916 14.2334C7.40416 14.5717 7.27583 15.1667 7.55583 15.645L10.1808 19.915C10.4375 20.3117 10.8808 20.5567 11.3825 20.5567C11.8608 20.5567 12.3158 20.3117 12.5725 19.915C12.9925 19.3667 21.0075 9.81169 21.0075 9.81169C22.0575 8.73836 20.7858 7.79336 19.9458 8.61002V8.62169Z" fill="%238498AB"/></svg>');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 12px;
}


/*  */


.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider-item {
    display: none;
    position: relative;
}

.slider-item.active {
    display: flex;
}

.nav-dot.active .line::before {
    position: absolute;
    background: white;
    content: '';
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 200px;
    animation: line-load 0.3s ease-in-out;
}

.nav-dot.active button {
    color: white;
}

@keyframes line-load {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


#three-cols ul li::before {
    content: '';
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><rect width="28" height="28" rx="14" fill="%230C5E5D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.9458 8.62169L11.5925 16.6834L9.3758 14.315C8.96747 13.93 8.3258 13.9067 7.85913 14.2334C7.40413 14.5717 7.2758 15.1667 7.5558 15.645L10.1808 19.915C10.4375 20.3117 10.8808 20.5567 11.3825 20.5567C11.8608 20.5567 12.3158 20.3117 12.5725 19.915C12.9925 19.3667 21.0075 9.81169 21.0075 9.81169C22.0575 8.73836 20.7858 7.79336 19.9458 8.61002V8.62169Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 12px;
}

/* Checkout fields */

#checkout-page .more-recommended,
#checkout-page .checkout-btn {
    display: none;
}

#checkout-page .woocommerce-mini-cart {
    padding-left: 0px;
    padding-right: 0px;
}


#checkout-page .woocommerce-mini-cart-item .remove-button {
    width: 30%;
    display: flex;
    justify-content: end;
}

.thwcfd-field-email {
    padding-top: 24px !important;
    @apply border-t;
    @apply border-gray-200;
}

.woocommerce-checkout label {
    color: var(--gray-paragrah);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

form.woocommerce-checkout input {
    border-radius: 8px !important;
    border: 1px solid #D0D5DD !important;
    background: #FFF !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
    padding: 10px 14px !important;
    color: var(--rich-black) !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
}

form.woocommerce-checkout .select2-selection__rendered {
    padding: 10px 14px !important;
    color: var(--rich-black) !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
}


form.woocommerce-checkout .select2-selection {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
    border-radius: 8px !important;
    border: 1px solid #D0D5DD !important;
    background: #FFF !important;
}

form.woocommerce-checkout #billing_email {
    position: relative;
    padding-left: 40px !important;
    position: relative !important;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M1.6665 5.83334L8.4706 10.5962C9.02158 10.9819 9.29707 11.1747 9.59672 11.2494C9.86142 11.3154 10.1383 11.3154 10.403 11.2494C10.7026 11.1747 10.9781 10.9819 11.5291 10.5962L18.3332 5.83334M5.6665 16.6667H14.3332C15.7333 16.6667 16.4334 16.6667 16.9681 16.3942C17.4386 16.1545 17.821 15.7721 18.0607 15.3017C18.3332 14.7669 18.3332 14.0668 18.3332 12.6667V7.33334C18.3332 5.93321 18.3332 5.23315 18.0607 4.69837C17.821 4.22796 17.4386 3.84551 16.9681 3.60583C16.4334 3.33334 15.7333 3.33334 14.3332 3.33334H5.6665C4.26637 3.33334 3.56631 3.33334 3.03153 3.60583C2.56112 3.84551 2.17867 4.22796 1.93899 4.69837C1.6665 5.23315 1.6665 5.93321 1.6665 7.33334V12.6667C1.6665 14.0668 1.6665 14.7669 1.93899 15.3017C2.17867 15.7721 2.56112 16.1545 3.03153 16.3942C3.56631 16.6667 4.26637 16.6667 5.6665 16.6667Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
    background-repeat: no-repeat !important;
    background-position: 10px center !important;
}

form.woocommerce-checkout #billing_first_name_field {
    padding-top: 24px !important;
}

form.woocommerce-checkout #billing_last_name_field {
    padding-top: 50px !important;
}

form.woocommerce-checkout #billing_city_field {
    padding-top: 32px !important;
}

form.woocommerce-checkout #billing_state_field {
    padding-top: 32px !important;
}


form.woocommerce-checkout #billing_phone {
    padding-left: 40px !important;
    position: relative !important;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none"><path d="M11.1 4.93331C11.9139 5.09211 12.662 5.49019 13.2484 6.07659C13.8348 6.66299 14.2328 7.41103 14.3916 8.22498M11.1 1.59998C12.791 1.78784 14.368 2.54512 15.5718 3.74748C16.7757 4.94984 17.535 6.52582 17.725 8.21664M7.91413 11.4859C6.91281 10.4846 6.12216 9.35235 5.54216 8.14433C5.49227 8.04043 5.46732 7.98847 5.44816 7.92273C5.38006 7.6891 5.42897 7.40222 5.57065 7.20436C5.61052 7.14868 5.65815 7.10105 5.75341 7.00579C6.04475 6.71445 6.19042 6.56879 6.28565 6.4223C6.64482 5.86989 6.64482 5.15774 6.28565 4.60534C6.19042 4.45885 6.04475 4.31319 5.75341 4.02185L5.59102 3.85945C5.14815 3.41659 4.92671 3.19515 4.6889 3.07486C4.21593 2.83564 3.65738 2.83564 3.18441 3.07486C2.94659 3.19515 2.72516 3.41659 2.28229 3.85945L2.15092 3.99082C1.70957 4.43217 1.4889 4.65285 1.32036 4.95287C1.13334 5.28579 0.998871 5.80287 1.00001 6.18472C1.00103 6.52884 1.06778 6.76403 1.20129 7.2344C1.91877 9.76223 3.27249 12.1475 5.26248 14.1375C7.25246 16.1275 9.63776 17.4812 12.1656 18.1987C12.636 18.3322 12.8711 18.399 13.2153 18.4C13.5971 18.4011 14.1142 18.2667 14.4471 18.0796C14.7471 17.9111 14.9678 17.6904 15.4092 17.2491L15.5405 17.1177C15.9834 16.6748 16.2048 16.4534 16.3251 16.2156C16.5644 15.7426 16.5644 15.1841 16.3251 14.7111C16.2048 14.4733 15.9834 14.2518 15.5405 13.809L15.3781 13.6466C15.0868 13.3552 14.9411 13.2096 14.7947 13.1143C14.2422 12.7552 13.5301 12.7552 12.9777 13.1143C12.8312 13.2096 12.6855 13.3552 12.3942 13.6466C12.2989 13.7418 12.2513 13.7895 12.1956 13.8293C11.9978 13.971 11.7109 14.0199 11.4773 13.9518C11.4115 13.9327 11.3596 13.9077 11.2557 13.8578C10.0476 13.2778 8.91544 12.4872 7.91413 11.4859Z" stroke="%23344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
    background-repeat: no-repeat !important;
    background-position: 10px center !important;

}

form.woocommerce-checkout #billing_phone_field {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

/*  */


.search-videos input[type="text"] {
    padding-left: 40px !important;
    position: relative;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"%3E%3Cg id="search-lg"%3E%3Cpath id="Icon" d="M17.5 17.5L14.5834 14.5833M16.6667 9.58333C16.6667 13.4954 13.4954 16.6667 9.58333 16.6667C5.67132 16.6667 2.5 13.4954 2.5 9.58333C2.5 5.67132 5.67132 2.5 9.58333 2.5C13.4954 2.5 16.6667 5.67132 16.6667 9.58333Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/g%3E%3C/svg%3E');
    background-repeat: no-repeat !important;
    background-position: 10px center !important;

}


.woocommerce a.remove:hover {
    background-color: transparent !important;
}


#blog-background {
    position: relative;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1440" height="247" viewBox="0 0 1440 247" fill="none"%3E%3Cmask id="mask0_1_9" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1440" height="247"%3E%3Crect width="1440" height="247" fill="%23D9D9D9"/%3E%3C/mask%3E%3Cg mask="url(%23mask0_1_9)"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1439.75 36.0363L1404.95 47.7376C1371.35 59.4389 1302.95 82.8415 1234.55 86.7419C1164.95 90.6424 1096.55 75.0406 1028.15 63.3393C959.749 51.638 891.349 43.8371 822.949 43.8371C754.549 43.8371 684.949 51.638 616.549 75.0406C548.149 98.4432 479.749 137.448 411.349 164.751C342.949 192.054 274.549 207.655 204.949 192.054C136.549 176.452 68.1491 129.647 34.5491 106.244L-0.250897 82.8414L-0.250912 246.66L34.5491 246.66C68.1491 246.66 136.549 246.66 204.949 246.66C274.549 246.66 342.949 246.66 411.349 246.66C479.749 246.66 548.149 246.66 616.549 246.66C684.949 246.66 754.549 246.66 822.949 246.66C891.349 246.66 959.749 246.66 1028.15 246.66C1096.55 246.66 1164.95 246.66 1234.55 246.66C1302.95 246.66 1371.35 246.66 1404.95 246.66L1439.75 246.66L1439.75 36.0363Z" fill="%230E375E" fill-opacity="0.02"/%3E%3Cpath d="M1510.64 115.691L1484.5 112.122C1459.22 108.39 1407.79 101.089 1359.08 107.68C1309.51 114.437 1263.49 134.922 1216.94 152.628C1170.38 170.334 1123.28 185.262 1075.1 194.632C1026.92 204.002 976.819 207.98 925.398 200.679C873.976 193.378 820.394 174.963 768.432 164.883C716.47 154.803 666.13 153.06 619.268 173.709C573.251 194.193 531.557 236.907 511.133 258.181L489.863 279.62" stroke="%230E375E" stroke-opacity="0.02" stroke-width="7"/%3E%3Cpath d="M1568.22 78.778L1539.6 74.8707C1511.91 70.7833 1455.61 62.7886 1402.26 70.0067C1347.98 77.4049 1297.6 99.8359 1246.61 119.224C1195.63 138.613 1144.06 154.959 1091.31 165.219C1038.55 175.48 983.684 179.836 927.378 171.841C871.071 163.846 812.398 143.681 755.499 132.644C698.601 121.607 643.478 119.697 592.164 142.308C541.775 164.739 496.12 211.511 473.755 234.806L450.465 258.282" stroke="%230E375E" stroke-opacity="0.05" stroke-width="7"/%3E%3C/g%3E%3C/svg%3E');
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
}

.rounded-\[16px\] {
    border-radius: 16px !important;
}


/* hamburguer menu */

#nav-icon4 {
    width: 15px;
    height: 11px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 15px;
    background: #8F97A4;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    width: 100%;
}

#nav-icon4 span:nth-child(2) {
    top: 4px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    width: 100%;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 11px;
    left: 0px;
    width: 100%;
    margin-left: 0px;
}

/*  */

/* Header */
#mobile-side-menu.active {
    transform: translate(0);
    transition: transform 0.5s ease;
}

#mobile-side-menu {
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

/*  */

.woocommerce-mini-cart-item::before,
.woocommerce-mini-cart-item::after {
    content: none !important;
}


#open-close.active {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

#open-close {
    transition: transform 0.3s ease;
}

#video-categories {
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
    transition: all 0.6s ease;
}

#video-categories.hidde {
    opacity: 0;
    visibility: hidden;
    max-height: 0px;
    transition: all 0.3s ease;
}

#form .gform-theme--foundation .gform_fields {
    row-gap: 20px;
}

#form .gform-field-label {
    color: #344054;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

#form .ginput_container_text input,
#form .ginput_container_email input,
#form .ginput_container_select select {
    font-size: 14px;
    color: var(--rich-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    display: flex;
    padding: 5px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

#form .ginput_container_email {
    position: relative;
}

#form .ginput_container_email input {
    padding-left: 40px !important;
}

#form .ginput_container_email::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"%3E%3Cpath d="M1.66602 5.83331L8.47012 10.5962C9.02109 10.9819 9.29658 11.1747 9.59624 11.2494C9.86093 11.3154 10.1378 11.3154 10.4025 11.2494C10.7021 11.1747 10.9776 10.9819 11.5286 10.5962L18.3327 5.83331M5.66602 16.6666H14.3327C15.7328 16.6666 16.4329 16.6666 16.9677 16.3942C17.4381 16.1545 17.8205 15.772 18.0602 15.3016C18.3327 14.7668 18.3327 14.0668 18.3327 12.6666V7.33331C18.3327 5.93318 18.3327 5.23312 18.0602 4.69834C17.8205 4.22793 17.4381 3.84548 16.9677 3.6058C16.4329 3.33331 15.7328 3.33331 14.3327 3.33331H5.66602C4.26588 3.33331 3.56582 3.33331 3.03104 3.6058C2.56063 3.84548 2.17818 4.22793 1.9385 4.69834C1.66602 5.23312 1.66602 5.93318 1.66602 7.33331V12.6666C1.66602 14.0668 1.66602 14.7668 1.9385 15.3016C2.17818 15.772 2.56063 16.1545 3.03104 16.3942C3.56582 16.6666 4.26588 16.6666 5.66602 16.6666Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: contain;
}


#faq summary::marker {
    content: none;
}

#faq summary {
    position: relative;
    padding-right: 30px;
    /* Add padding to make space for the icon */
}

#faq summary::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 25px;
    height: 24px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><rect x="24" y="24" width="24" height="24" rx="12" transform="rotate(180 24 24)" fill="%23E9EAED" fill-opacity="0.866667"/><path d="M17 14L12 9L7 14" stroke="%23404D61" stroke-opacity="0.6" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease;

}

#faq details[open] summary::after {
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.3s ease;
}




@media screen and (min-width:1200px) {
    .xl\:w-\[23\.5\%\] {
        width: 23.5% !important;
    }
}

@media screen and (min-width:1024px) {
    .lg\:w-\[49\%\] {
        width: 49%;
    }


}

@media screen and (min-width:768px) {

    .md\:w-\[32\%\] {
        width: 32%;
    }

}

@media screen and (max-width:1023px) {

    #product-slider,
    #recent-blog_posts,
    #cart,
    #text-image {
        background-image: none;
    }

    #cart-container .woocommerce-mini-cart-item .remove-button {
        width: 6%;
    }

    #cart-container .woocommerce-mini-cart__buttons {
        flex-wrap: wrap;
    }

    #cart-container .woocommerce-mini-cart__buttons a {
        width: 100%;
    }

    #review-slider .slick-next {
        right: 10px !important;
        bottom: -70px !important;
        top: auto !important;
    }

    #review-slider .slick-prev {
        left: 0px !important;
        bottom: -90px !important;
        top: auto !important;
    }

    #form #gform_submit_button_1 {
        width: 100% !important;
    }
}