*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-16 {
  bottom: 4rem;
}

.left-16 {
  left: 4rem;
}

.left-3 {
  left: 0.75rem;
}

.right-0 {
  right: 0px;
}

.top-\[0px\] {
  top: 0px;
}

.top-\[10px\] {
  top: 10px;
}

.z-\[99999999\] {
  z-index: 99999999;
}

.z-\[99\] {
  z-index: 99;
}

.z-\[9\] {
  z-index: 9;
}

.\!m-0 {
  margin: 0px !important;
}

.m-auto {
  margin: auto;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-\[15px\] {
  margin-top: 15px;
  margin-bottom: 15px;
}

.\!mt-\[32px\] {
  margin-top: 32px !important;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[40px\] {
  margin-bottom: 40px;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-\[65px\] {
  margin-right: 65px;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[24px\] {
  margin-top: 24px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[48px\] {
  margin-top: 48px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

.h-12 {
  height: 3rem;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[4px\] {
  height: 4px;
}

.h-\[516px\] {
  height: 516px;
}

.h-full {
  height: 100%;
}

.min-h-\[300px\] {
  min-height: 300px;
}

.\!w-\[128px\] {
  width: 128px !important;
}

.\!w-full {
  width: 100% !important;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-1\/4 {
  width: 25%;
}

.w-12 {
  width: 3rem;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-2\/5 {
  width: 40%;
}

.w-3\/4 {
  width: 75%;
}

.w-3\/5 {
  width: 60%;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[370px\] {
  width: 370px;
}

.w-\[45\%\] {
  width: 45%;
}

.w-\[500px\] {
  width: 500px;
}

.w-\[55\%\] {
  width: 55%;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[72px\] {
  width: 72px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.max-w-\[1080px\] {
  max-width: 1080px;
}

.max-w-\[460px\] {
  max-width: 460px;
}

.max-w-\[768px\] {
  max-width: 768px;
}

.max-w-\[890px\] {
  max-width: 890px;
}

.translate-x-\[800px\] {
  --tw-translate-x: 800px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-\[100px\] {
  gap: 100px;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[14px\] {
  gap: 14px;
}

.gap-\[2\%\] {
  gap: 2%;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[24px\] {
  gap: 24px;
}

.gap-\[28px\] {
  gap: 28px;
}

.gap-\[32px\] {
  gap: 32px;
}

.gap-y-\[80px\] {
  row-gap: 80px;
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.\!border-none {
  border-style: none !important;
}

.border-\[\#060843\] {
  --tw-border-opacity: 1;
  border-color: rgb(6 8 67 / var(--tw-border-opacity, 1));
}

.border-\[\#D0D5DD\] {
  --tw-border-opacity: 1;
  border-color: rgb(208 213 221 / var(--tw-border-opacity, 1));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity, 1));
}

.border-white\/30 {
  border-color: rgb(255 255 255 / 0.3);
}

.bg-\[\#0B141D80\] {
  background-color: #0B141D80;
}

.bg-\[\#0E375E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(14 55 94 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FAFBFC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 251 252 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFFFFF66\] {
  background-color: #FFFFFF66;
}

.bg-\[rgba\(255\2c 255\2c 255\2c 0\.33\)\] {
  background-color: rgba(255,255,255,0.33);
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.bg-rich-black {
  --tw-bg-opacity: 1;
  background-color: rgb(11 20 29 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/20 {
  background-color: rgb(255 255 255 / 0.2);
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-\[\#0E375E\] {
  --tw-gradient-from: #0E375E var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(14 55 94 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#082541\] {
  --tw-gradient-to: #082541 var(--tw-gradient-to-position);
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-\[100px\] {
  padding: 100px;
}

.p-\[50px\] {
  padding: 50px;
}

.\!px-\[40px\] {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.\!py-\[32px\] {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-52 {
  padding-left: 13rem;
  padding-right: 13rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-\[100px\] {
  padding-left: 100px;
  padding-right: 100px;
}

.px-\[14px\] {
  padding-left: 14px;
  padding-right: 14px;
}

.px-\[167px\] {
  padding-left: 167px;
  padding-right: 167px;
}

.px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.px-\[50px\] {
  padding-left: 50px;
  padding-right: 50px;
}

.px-\[60px\] {
  padding-left: 60px;
  padding-right: 60px;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[100px\] {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-\[64px\] {
  padding-top: 64px;
  padding-bottom: 64px;
}

.py-\[80px\] {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-\[36px\] {
  padding-left: 36px;
}

.pl-\[50px\] {
  padding-left: 50px;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-\[40px\] {
  padding-top: 40px;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[36px\] {
  font-size: 36px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.\!font-\[400\] {
  font-weight: 400 !important;
}

.\!font-semibold {
  font-weight: 600 !important;
}

.font-\[600\] {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.\!leading-5 {
  line-height: 1.25rem !important;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-\[20px\] {
  line-height: 20px;
}

.leading-\[24px\] {
  line-height: 24px;
}

.leading-\[28px\] {
  line-height: 28px;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[32px\] {
  line-height: 32px;
}

.leading-\[38px\] {
  line-height: 38px;
}

.leading-\[60px\] {
  line-height: 60px;
}

.leading-\[72px\] {
  line-height: 72px;
}

.leading-normal {
  line-height: 1.5;
}

.tracking-\[-0\.48px\] {
  letter-spacing: -0.48px;
}

.tracking-\[-0\.4px\] {
  letter-spacing: -0.4px;
}

.tracking-\[-0\.6px\] {
  letter-spacing: -0.6px;
}

.tracking-\[-0\.72px\] {
  letter-spacing: -0.72px;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.text-\[\#060843\] {
  --tw-text-opacity: 1;
  color: rgb(6 8 67 / var(--tw-text-opacity, 1));
}

.text-\[\#0B141D\] {
  --tw-text-opacity: 1;
  color: rgb(11 20 29 / var(--tw-text-opacity, 1));
}

.text-\[\#0C5E5D\] {
  --tw-text-opacity: 1;
  color: rgb(12 94 93 / var(--tw-text-opacity, 1));
}

.text-\[\#13A513\] {
  --tw-text-opacity: 1;
  color: rgb(19 165 19 / var(--tw-text-opacity, 1));
}

.text-\[\#47546799\] {
  color: #47546799;
}

.text-\[\#667085\] {
  --tw-text-opacity: 1;
  color: rgb(102 112 133 / var(--tw-text-opacity, 1));
}

.text-\[\#8498AB\] {
  --tw-text-opacity: 1;
  color: rgb(132 152 171 / var(--tw-text-opacity, 1));
}

.text-\[\#D0D5DD\] {
  --tw-text-opacity: 1;
  color: rgb(208 213 221 / var(--tw-text-opacity, 1));
}

.text-\[rgba\(71\2c 84\2c 103\2c 0\.60\)\] {
  color: rgba(71,84,103,0.60);
}

.text-berkley-blue {
  --tw-text-opacity: 1;
  color: rgb(13 55 94 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1));
}

.text-caribbean-green {
  --tw-text-opacity: 1;
  color: rgb(13 94 93 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.text-gray-paragrah {
  --tw-text-opacity: 1;
  color: rgb(71 84 103 / var(--tw-text-opacity, 1));
}

.text-rich-black {
  --tw-text-opacity: 1;
  color: rgb(11 20 29 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-opacity-40 {
  --tw-text-opacity: 0.4;
}

.line-through {
  text-decoration-line: line-through;
}

.placeholder-gray-400::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1));
}

.placeholder-gray-400::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1));
}

.placeholder-gray-500::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(107 114 128 / var(--tw-placeholder-opacity, 1));
}

.placeholder-gray-500::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(107 114 128 / var(--tw-placeholder-opacity, 1));
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-\[6\.65px\] {
  --tw-backdrop-blur: blur(6.65px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@font-face {
  font-family: 'Inter';

  src: url('../assets/fonts/inter/Inter-VariableFont.woff2') format('woff2');

  font-weight: 100 900;

  font-style: normal;

  font-display: swap;
}

:root {
  --berkley-blue: #0D375E;
  --caribbean-green: #0D5E5D;
  --mustard-yellow: #FC0;
  --rich-black: #0B141D;
  --gray-paragrah: #475467;
}

body {
  font-family: 'Inter';
  font-weight: normal;
  font-family: Inter;
  overflow-x: hidden;
}

section {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.block_content {
  max-width: 1440px;
  width: 100%;
}

.btn-primary {
  cursor: pointer !important;
  display: flex !important;
  padding: 10px 18px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
  border-radius: 8px !important;
  background: var(--mustard-yellow) !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
  color: var(--rich-black) !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
}

.btn {
  border-radius: 8px !important;
  background: #FAFBFC !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
  display: flex !important;
  padding: 10px 18px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
  align-self: stretch !important;
  cursor: pointer !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
}

.btn-green {
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--caribbean-green);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.btn:hover {
  background: var(--mustard-yellow) !important;
  color: var(--rich-black) !important;
  transition: transform 0.3s ease !important;
}

.btn:hover,
.btn-primary:hover,
.btn-2:hover,
.btn-green:hover {
  transform: translateY(-2px);
  transition: transform 0.3s ease;
}

.menu_header li a {
  color: rgba(71, 84, 103, 0.60);
  /* Text md/Semibold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.menu_header>li {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu_header .menu-item-has-children::after {
  position: absolute;
  top: 18px;
  right: -4px;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M5 7.5L10 12.5L15 7.5" stroke="%23475467" stroke-opacity="0.6" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
}

.menu_header .menu-item-has-children:hover::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.menu_header .menu-item-has-children>ul {
  min-width: 130px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.menu_header .menu-item-has-children:hover>ul {
  z-index: 9999;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#product-slider,
#recent-blog_posts,
#cart {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="294" viewBox="0 0 1440 294" fill="none"><mask id="mask0_2_3" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1440" height="294"><rect width="1440" height="294" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2_3)"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 210.623L34.8 198.922C68.4 187.221 136.8 163.818 205.2 159.918C274.8 156.017 343.2 171.619 411.6 183.32C480 195.022 548.4 202.823 616.8 202.823C685.2 202.823 754.8 195.022 823.2 171.619C891.6 148.216 960 109.212 1028.4 81.9091C1096.8 54.6061 1165.2 39.0043 1234.8 54.6061C1303.2 70.2078 1371.6 117.013 1405.2 140.416L1440 163.818V0H1405.2C1371.6 0 1303.2 0 1234.8 0C1165.2 0 1096.8 0 1028.4 0C960 0 891.6 0 823.2 0C754.8 0 685.2 0 616.8 0C548.4 0 480 0 411.6 0C343.2 0 274.8 0 205.2 0C136.8 0 68.4 0 34.8 0H0V210.623Z" fill="%230E375E" fill-opacity="0.02"/><path d="M-70.8875 130.969L-44.7543 134.537C-19.4663 138.27 31.9549 145.571 80.674 138.979C130.238 132.223 176.255 111.738 222.813 94.032C269.37 76.3258 316.468 61.3982 364.647 52.0277C412.826 42.6573 462.93 38.6796 514.352 45.9806C565.773 53.2817 619.356 71.6971 671.317 81.7767C723.279 91.8563 773.619 93.6002 820.481 72.951C866.499 52.4662 908.192 9.75278 928.616 -11.5217L949.886 -32.9606" stroke="%230E375E" stroke-opacity="0.02" stroke-width="7"/><path d="M-128.47 167.882L-99.8535 171.789C-72.163 175.876 -15.8565 183.871 37.4913 176.653C91.7646 169.255 142.154 146.824 193.134 127.435C244.115 108.047 295.688 91.7012 348.444 81.4405C401.2 71.1798 456.065 66.8242 512.371 74.8189C568.678 82.8136 627.351 102.979 684.25 114.016C741.148 125.053 796.271 126.963 847.586 104.352C897.975 81.9206 943.63 35.1491 965.994 11.8534L989.284 -11.6224" stroke="%230E375E" stroke-opacity="0.05" stroke-width="7"/></g></svg>');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

#thanks-page {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="1222" height="362" viewBox="0 0 1222 362" fill="none"><path d="M62.4848 197.969L90.6025 201.537C117.811 205.27 173.137 212.571 225.555 205.979C278.883 199.223 328.395 178.738 378.487 161.032C428.58 143.326 479.254 128.398 531.092 119.028C582.929 109.657 636.838 105.68 692.164 112.981C747.49 120.282 805.142 138.697 861.049 148.777C916.956 158.856 971.119 160.6 1021.54 139.951C1071.05 119.466 1115.91 76.7527 1137.89 55.4782L1160.77 34.0393" stroke="%230E375E" stroke-opacity="0.02" stroke-width="7"/><path d="M0.530275 234.882L31.3193 238.789C61.1125 242.876 121.695 250.871 179.093 243.653C237.488 236.255 291.703 213.824 346.555 194.435C401.407 175.047 456.896 158.701 513.658 148.44C570.42 138.18 629.451 133.824 690.033 141.819C750.615 149.814 813.744 169.978 874.963 181.016C936.182 192.053 995.491 193.963 1050.7 171.352C1104.92 148.921 1154.04 102.149 1178.1 78.8533L1203.16 55.3776" stroke="%230E375E" stroke-opacity="0.05" stroke-width="7"/></svg>');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

/* the slides */

.slick-slide {
  margin: 0 8px !important;
}

/* the parent */

.slick-list {
  margin: 0 -8px !important;
}

#multiple-items .slick-next {
  right: -8px !important;
  top: 205px !important;
}

#multiple-items .slick-next::before,
.slick-prev::before {
  content: "" !important;
}

#multiple-items .slick-prev {
  left: -25px !important;
  top: 205px !important;
}

#multiples-items .slick-next {
  right: 16px !important;
  top: auto !important;
  bottom: -100px !important;
}

#multiples-items .slick-next::before,
.slick-prev::before {
  content: "" !important;
}

#multiples-items .slick-prev {
  left: 0px !important;
  top: auto !important;
  bottom: -100px !important;
}

/* Cart styles */

#cart-container .woocommerce-mini-cart {
  padding: 0px !important;
}

#cart-container .woocommerce-mini-cart-item .remove-button {
  width: 30%;
  display: flex;
  justify-content: end;
}

#cart-container .woocommerce-mini-cart-item>a img {
  width: 200px;
}

#cart-container #multiple-items {
  display: flex;
  gap: 40px;
}

#cart-container .woocommerce-mini-cart__buttons {
  display: flex;
  gap: 30px;
  position: relative;
}

#cart-container .woocommerce-mini-cart__buttons figure {
  position: absolute;
  bottom: -25px;
  left: 90px;
}

#cart-container .woocommerce-mini-cart__buttons .back-shoping {
  margin: 0;
  border-radius: 8px;
  background: #FAFBFC;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#cart-container .woocommerce-mini-cart__buttons .back-shoping:hover {
  transform: translateY(-2px);
}

/*  */

.stars::before {
  content: "";
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="88" height="14" viewBox="0 0 88 14" fill="none"><path d="M6.78711 0L9.14881 3.5365L13.242 4.68978L10.6084 8.02873L10.7765 12.278L6.78711 10.8051L2.79775 12.278L2.96579 8.02873L0.332185 4.68978L4.42541 3.5365L6.78711 0Z" fill="%23FFBF0F"/><path d="M25.3613 0L27.723 3.5365L31.8163 4.68978L29.1826 8.02873L29.3507 12.278L25.3613 10.8051L21.372 12.278L21.54 8.02873L18.9064 4.68978L22.9996 3.5365L25.3613 0Z" fill="%23FFBF0F"/><path d="M43.9355 0L46.2972 3.5365L50.3905 4.68978L47.7569 8.02873L47.9249 12.278L43.9355 10.8051L39.9462 12.278L40.1142 8.02873L37.4806 4.68978L41.5738 3.5365L43.9355 0Z" fill="%23FFBF0F"/><path d="M62.5098 0L64.8715 3.5365L68.9647 4.68978L66.3311 8.02873L66.4991 12.278L62.5098 10.8051L58.5204 12.278L58.6885 8.02873L56.0548 4.68978L60.1481 3.5365L62.5098 0Z" fill="%23FFBF0F"/><path d="M81.084 0L83.4457 3.5365L87.5389 4.68978L84.9053 8.02873L85.0733 12.278L81.084 10.8051L77.0946 12.278L77.2627 8.02873L74.6291 4.68978L78.7223 3.5365L81.084 0Z" fill="%23FFBF0F"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  width: 90px;
  display: block;
  height: 14px;
}

#slide-cart.active {
  transform: translate(0);
  transition: transform 0.5s ease;
}

#slide-cart {
  transition: transform 0.5s ease;
}

#text-image {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="295" viewBox="0 0 1440 295" fill="none"><mask id="mask0_2_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1440" height="295"><rect width="1440" height="295" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2_6)"><path fill-rule="evenodd" clip-rule="evenodd" d="M1440.49 83.9219L1405.69 95.6232C1372.09 107.325 1303.69 130.727 1235.29 134.628C1165.69 138.528 1097.29 122.926 1028.89 111.225C960.492 99.5236 892.092 91.7227 823.692 91.7227C755.292 91.7227 685.692 99.5236 617.292 122.926C548.892 146.329 480.492 185.333 412.092 212.636C343.692 239.939 275.292 255.541 205.692 239.939C137.292 224.337 68.892 177.532 35.292 154.13L0.49208 130.727L0.492065 294.545L35.292 294.545C68.892 294.545 137.292 294.545 205.692 294.545C275.292 294.545 343.692 294.545 412.092 294.545C480.492 294.545 548.892 294.545 617.292 294.545C685.692 294.545 755.292 294.545 823.692 294.545C892.092 294.545 960.492 294.545 1028.89 294.545C1097.29 294.545 1165.69 294.545 1235.29 294.545C1303.69 294.545 1372.09 294.545 1405.69 294.545L1440.49 294.545L1440.49 83.9219Z" fill="%230E375E" fill-opacity="0.02"/><path d="M1511.38 163.576L1485.25 160.008C1459.96 156.275 1408.54 148.974 1359.82 155.566C1310.25 162.322 1264.24 182.807 1217.68 200.513C1171.12 218.22 1124.02 233.147 1075.85 242.518C1027.67 251.888 977.562 255.866 926.141 248.565C874.719 241.264 821.136 222.848 769.175 212.769C717.213 202.689 666.873 200.945 620.011 221.594C573.994 242.079 532.3 284.793 511.876 306.067L490.606 327.506" stroke="%230E375E" stroke-opacity="0.02" stroke-width="7"/><path d="M1568.96 126.664L1540.35 122.756C1512.66 118.669 1456.35 110.674 1403 117.892C1348.73 125.291 1298.34 147.721 1247.36 167.11C1196.38 186.498 1144.8 202.844 1092.05 213.105C1039.29 223.366 984.427 227.721 928.121 219.726C871.814 211.732 813.141 191.567 756.242 180.53C699.344 169.492 644.221 167.583 592.906 190.194C542.517 212.625 496.863 259.396 474.498 282.692L451.208 306.168" stroke="%230E375E" stroke-opacity="0.05" stroke-width="7"/></g></svg>');
  background-repeat: no-repeat;
  background-position: bottom right;
}

#text-image ul li::before {
  content: '';
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><rect width="28" height="28" rx="14" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.9458 8.62169L11.5925 16.6834L9.37583 14.315C8.9675 13.93 8.32583 13.9067 7.85916 14.2334C7.40416 14.5717 7.27583 15.1667 7.55583 15.645L10.1808 19.915C10.4375 20.3117 10.8808 20.5567 11.3825 20.5567C11.8608 20.5567 12.3158 20.3117 12.5725 19.915C12.9925 19.3667 21.0075 9.81169 21.0075 9.81169C22.0575 8.73836 20.7858 7.79336 19.9458 8.61002V8.62169Z" fill="%238498AB"/></svg>');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 12px;
}

/*  */

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider-item {
  display: none;
  position: relative;
}

.slider-item.active {
  display: flex;
}

.nav-dot.active .line::before {
  position: absolute;
  background: white;
  content: '';
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 200px;
  animation: line-load 0.3s ease-in-out;
}

.nav-dot.active button {
  color: white;
}

@keyframes line-load {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

#three-cols ul li::before {
  content: '';
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><rect width="28" height="28" rx="14" fill="%230C5E5D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.9458 8.62169L11.5925 16.6834L9.3758 14.315C8.96747 13.93 8.3258 13.9067 7.85913 14.2334C7.40413 14.5717 7.2758 15.1667 7.5558 15.645L10.1808 19.915C10.4375 20.3117 10.8808 20.5567 11.3825 20.5567C11.8608 20.5567 12.3158 20.3117 12.5725 19.915C12.9925 19.3667 21.0075 9.81169 21.0075 9.81169C22.0575 8.73836 20.7858 7.79336 19.9458 8.61002V8.62169Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-right: 12px;
}

/* Checkout fields */

#checkout-page .more-recommended,
#checkout-page .checkout-btn {
  display: none;
}

#checkout-page .woocommerce-mini-cart {
  padding-left: 0px;
  padding-right: 0px;
}

#checkout-page .woocommerce-mini-cart-item .remove-button {
  width: 30%;
  display: flex;
  justify-content: end;
}

.thwcfd-field-email {
  padding-top: 24px !important;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.woocommerce-checkout label {
  color: var(--gray-paragrah);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

form.woocommerce-checkout input {
  border-radius: 8px !important;
  border: 1px solid #D0D5DD !important;
  background: #FFF !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
  padding: 10px 14px !important;
  color: var(--rich-black) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

form.woocommerce-checkout .select2-selection__rendered {
  padding: 10px 14px !important;
  color: var(--rich-black) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

form.woocommerce-checkout .select2-selection {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
  border-radius: 8px !important;
  border: 1px solid #D0D5DD !important;
  background: #FFF !important;
}

form.woocommerce-checkout #billing_email {
  padding-left: 40px !important;
  position: relative !important;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M1.6665 5.83334L8.4706 10.5962C9.02158 10.9819 9.29707 11.1747 9.59672 11.2494C9.86142 11.3154 10.1383 11.3154 10.403 11.2494C10.7026 11.1747 10.9781 10.9819 11.5291 10.5962L18.3332 5.83334M5.6665 16.6667H14.3332C15.7333 16.6667 16.4334 16.6667 16.9681 16.3942C17.4386 16.1545 17.821 15.7721 18.0607 15.3017C18.3332 14.7669 18.3332 14.0668 18.3332 12.6667V7.33334C18.3332 5.93321 18.3332 5.23315 18.0607 4.69837C17.821 4.22796 17.4386 3.84551 16.9681 3.60583C16.4334 3.33334 15.7333 3.33334 14.3332 3.33334H5.6665C4.26637 3.33334 3.56631 3.33334 3.03153 3.60583C2.56112 3.84551 2.17867 4.22796 1.93899 4.69837C1.6665 5.23315 1.6665 5.93321 1.6665 7.33334V12.6667C1.6665 14.0668 1.6665 14.7669 1.93899 15.3017C2.17867 15.7721 2.56112 16.1545 3.03153 16.3942C3.56631 16.6667 4.26637 16.6667 5.6665 16.6667Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
}

form.woocommerce-checkout #billing_first_name_field {
  padding-top: 24px !important;
}

form.woocommerce-checkout #billing_last_name_field {
  padding-top: 50px !important;
}

form.woocommerce-checkout #billing_city_field {
  padding-top: 32px !important;
}

form.woocommerce-checkout #billing_state_field {
  padding-top: 32px !important;
}

form.woocommerce-checkout #billing_phone {
  padding-left: 40px !important;
  position: relative !important;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none"><path d="M11.1 4.93331C11.9139 5.09211 12.662 5.49019 13.2484 6.07659C13.8348 6.66299 14.2328 7.41103 14.3916 8.22498M11.1 1.59998C12.791 1.78784 14.368 2.54512 15.5718 3.74748C16.7757 4.94984 17.535 6.52582 17.725 8.21664M7.91413 11.4859C6.91281 10.4846 6.12216 9.35235 5.54216 8.14433C5.49227 8.04043 5.46732 7.98847 5.44816 7.92273C5.38006 7.6891 5.42897 7.40222 5.57065 7.20436C5.61052 7.14868 5.65815 7.10105 5.75341 7.00579C6.04475 6.71445 6.19042 6.56879 6.28565 6.4223C6.64482 5.86989 6.64482 5.15774 6.28565 4.60534C6.19042 4.45885 6.04475 4.31319 5.75341 4.02185L5.59102 3.85945C5.14815 3.41659 4.92671 3.19515 4.6889 3.07486C4.21593 2.83564 3.65738 2.83564 3.18441 3.07486C2.94659 3.19515 2.72516 3.41659 2.28229 3.85945L2.15092 3.99082C1.70957 4.43217 1.4889 4.65285 1.32036 4.95287C1.13334 5.28579 0.998871 5.80287 1.00001 6.18472C1.00103 6.52884 1.06778 6.76403 1.20129 7.2344C1.91877 9.76223 3.27249 12.1475 5.26248 14.1375C7.25246 16.1275 9.63776 17.4812 12.1656 18.1987C12.636 18.3322 12.8711 18.399 13.2153 18.4C13.5971 18.4011 14.1142 18.2667 14.4471 18.0796C14.7471 17.9111 14.9678 17.6904 15.4092 17.2491L15.5405 17.1177C15.9834 16.6748 16.2048 16.4534 16.3251 16.2156C16.5644 15.7426 16.5644 15.1841 16.3251 14.7111C16.2048 14.4733 15.9834 14.2518 15.5405 13.809L15.3781 13.6466C15.0868 13.3552 14.9411 13.2096 14.7947 13.1143C14.2422 12.7552 13.5301 12.7552 12.9777 13.1143C12.8312 13.2096 12.6855 13.3552 12.3942 13.6466C12.2989 13.7418 12.2513 13.7895 12.1956 13.8293C11.9978 13.971 11.7109 14.0199 11.4773 13.9518C11.4115 13.9327 11.3596 13.9077 11.2557 13.8578C10.0476 13.2778 8.91544 12.4872 7.91413 11.4859Z" stroke="%23344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
}

form.woocommerce-checkout #billing_phone_field {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

/*  */

#search-videos input[type="text"] {
  padding-left: 40px !important;
  position: relative;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"%3E%3Cg id="search-lg"%3E%3Cpath id="Icon" d="M17.5 17.5L14.5834 14.5833M16.6667 9.58333C16.6667 13.4954 13.4954 16.6667 9.58333 16.6667C5.67132 16.6667 2.5 13.4954 2.5 9.58333C2.5 5.67132 5.67132 2.5 9.58333 2.5C13.4954 2.5 16.6667 5.67132 16.6667 9.58333Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/g%3E%3C/svg%3E');
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
}

.woocommerce a.remove:hover {
  background-color: transparent !important;
}

.w-\[23\.5\%\] {
  width: 23.5% !important;
}

.before\:h-\[20px\]::before {
  content: var(--tw-content);
  height: 20px;
}

.before\:w-\[117px\]::before {
  content: var(--tw-content);
  width: 117px;
}

.last\:mb-0:last-child {
  margin-bottom: 0px;
}

.hover\:translate-x-\[2px\]:hover {
  --tw-translate-x: 2px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:translate-y-\[-2px\]:hover {
  --tw-translate-y: -2px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.focus\:border-white:focus {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity, 1));
}

@media (min-width: 1024px) {
  .lg\:px-\[75px\] {
    padding-left: 75px;
    padding-right: 75px;
  }

  .lg\:py-\[100px\] {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.\[_\&_h2\]\:my-4 h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.\[_\&_h2\]\:text-4xl h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.\[_\&_h2\]\:text-\[36px\] h2 {
  font-size: 36px;
}

.\[_\&_h2\]\:text-\[60px\] h2 {
  font-size: 60px;
}

.\[_\&_h2\]\:font-\[600\] h2 {
  font-weight: 600;
}

.\[_\&_h2\]\:font-semibold h2 {
  font-weight: 600;
}

.\[_\&_h2\]\:leading-\[38px\] h2 {
  line-height: 38px;
}

.\[_\&_h2\]\:leading-\[60px\] h2 {
  line-height: 60px;
}

.\[_\&_h2\]\:leading-\[72px\] h2 {
  line-height: 72px;
}

.\[_\&_h2\]\:tracking-\[-0\.72px\] h2 {
  letter-spacing: -0.72px;
}

.\[_\&_h2\]\:tracking-tight h2 {
  letter-spacing: -0.025em;
}

.\[_\&_h2\]\:text-\[\#0B141D\] h2 {
  --tw-text-opacity: 1;
  color: rgb(11 20 29 / var(--tw-text-opacity, 1));
}

.\[_\&_h2\]\:text-rich-black h2 {
  --tw-text-opacity: 1;
  color: rgb(11 20 29 / var(--tw-text-opacity, 1));
}

.\[_\&_h2\]\:text-white h2 {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.\[_\&_h3\]\:mb-2 h3 {
  margin-bottom: 0.5rem;
}

.\[_\&_h3\]\:text-3xl h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.\[_\&_h3\]\:text-\[30px\] h3 {
  font-size: 30px;
}

.\[_\&_h3\]\:font-semibold h3 {
  font-weight: 600;
}

.\[_\&_h4\]\:text-\[20px\] h4 {
  font-size: 20px;
}

.\[_\&_h4\]\:font-\[600\] h4 {
  font-weight: 600;
}

.\[_\&_li\]\:mb-3 li {
  margin-bottom: 0.75rem;
}

.\[_\&_li\]\:mb-\[20px\] li {
  margin-bottom: 20px;
}

.\[_\&_li\]\:flex li {
  display: flex;
}

.\[_\&_li\]\:items-center li {
  align-items: center;
}

.\[_\&_li\]\:text-lg li {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.\[_\&_li\]\:font-normal li {
  font-weight: 400;
}

.\[_\&_li\]\:leading-7 li {
  line-height: 1.75rem;
}

.\[_\&_li\]\:text-gray-paragrah li {
  --tw-text-opacity: 1;
  color: rgb(71 84 103 / var(--tw-text-opacity, 1));
}

.\[_\&_p\]\:text-\[16px\] p {
  font-size: 16px;
}

.\[_\&_p\]\:text-\[18px\] p {
  font-size: 18px;
}

.\[_\&_p\]\:text-\[20px\] p {
  font-size: 20px;
}

.\[_\&_p\]\:text-lg p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.\[_\&_p\]\:font-normal p {
  font-weight: 400;
}

.\[_\&_p\]\:leading-7 p {
  line-height: 1.75rem;
}

.\[_\&_p\]\:leading-\[28px\] p {
  line-height: 28px;
}

.\[_\&_p\]\:text-\[\#0B141D99\] p {
  color: #0B141D99;
}

.\[_\&_p\]\:text-\[\#FFFFFF99\] p {
  color: #FFFFFF99;
}

.\[_\&_p\]\:text-gray-paragrah p {
  --tw-text-opacity: 1;
  color: rgb(71 84 103 / var(--tw-text-opacity, 1));
}

.\[_\&_p\]\:text-white p {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.\[_\&_span\]\:text-\[16px\] span {
  font-size: 16px;
}

.\[_\&_span\]\:text-\[25px\] span {
  font-size: 25px;
}

.\[_\&_span\]\:\!font-\[400\] span {
  font-weight: 400 !important;
}

.\[_\&_span\]\:font-\[600\] span {
  font-weight: 600;
}

.\[_\&_span\]\:font-semibold span {
  font-weight: 600;
}

.\[_\&_span\]\:\!leading-5 span {
  line-height: 1.25rem !important;
}

.\[_\&_span\]\:leading-\[32px\] span {
  line-height: 32px;
}

.\[_\&_span\]\:text-\[\#0C5E5D\] span {
  --tw-text-opacity: 1;
  color: rgb(12 94 93 / var(--tw-text-opacity, 1));
}

.\[_\&_span\]\:text-\[\#13A513\] span {
  --tw-text-opacity: 1;
  color: rgb(19 165 19 / var(--tw-text-opacity, 1));
}

.\[_\&_span\]\:text-\[\#FFFFFF99\] span {
  color: #FFFFFF99;
}